* {
    margin: 0px;
    font-family: 'Saira Condensed', sans-serif;
}

/* Barra de navegação */

nav {
    background-color: blue;
    height: 70px;
}

.nav-bar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

li {
    padding-left: 20px;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 50px;
}

li a:hover{
    background-color: green;
}

/* bar */

/*Content */

.space-navbar {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 210px;
}

.profile_photo {
    max-height: 160px;
    width: auto;
}

.bar {
    height: 60px;
    background-color: blue;
}

.content {
    width: 60%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.users_search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user_box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user_box p {
    margin-right: 20px;
}

.users_search p {
    display: inline-block;
}

.img_profile {
    max-height: 160px;
    width: auto;
    border-radius: 25%;
    margin-right: 20px;
}

.mini_img_profile {
    height: 60px;
    width: auto;
    border-radius: 25%;
    margin-right: 20px;
}